<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= webpackConfig.template.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% for (var file in webpackConfig.template.cssFiles) { %>
    <link href="<%= webpackConfig.template.cssFiles[file] %>" rel="stylesheet">
    <% } %>
  </head>
  <body>
    <%- webpackConfig.html %>
  </body>

  <script>
    (function () {
      var menuDisplayed = false;
      var menuBtn = document.getElementById('menu-btn');
      var site = document.getElementById('site');
      var sidebar = document.getElementById('sidebar');

      function toggleNav(displayed) {
        menuDisplayed = displayed;
        menuDisplayed
          ? site.classList.add('nav-displayed')
          : site.classList.remove('nav-displayed')
      }

      function toggleSubItem (parent) {
        var isOpen = parent.classList.contains('sidebar-item--open');

        isOpen
          ? parent.classList.remove('sidebar-item--open')
          : parent.classList.add('sidebar-item--open')
      }

      menuBtn.addEventListener('click', function () {
        toggleNav(!menuDisplayed)
      });

      sidebar.addEventListener('click', function (event) {
        if (event.target.matches('.sidebar-item__toggle')) {
          toggleSubItem(event.target.parentNode)
        }

        if (event.target.matches('.sidebar-item__link')) {
          event.preventDefault();
          toggleNav(false);

          setTimeout(function () {
            window.location = event.target.href;
          }, 0)
        }
      });
    }())
  </script>
</html>
